.active-color{
  color: rgb(42, 96, 165);
}

.line-editor{
  border: 1px solid black;
  border-collapse: collapse;
  width: 900px;
}

.line-editor td{
  border: 1px solid black;
  padding: 5px 10px;
  vertical-align: top;
}

.line-editor th{
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 14px;
}

.line-editor th:first-child{
  width: 30px; 
  text-align: left;
}
.line-editor th:nth-child(2){
  text-align: left;
}
/*.line-editor th:nth-child(3), td:nth-child(3){
  text-align: right;
  width: 180px;
  position: relative;
}*/
.unit-price-row{
  text-align: right;
  width: 180px;
  position: relative; 
}
.line-total-row{
  text-align: right;
  width: 200px;
}
/*.line-editor th:last-child, td:last-child{
  text-align: right;
}*/

/* quantity row */
.quantity{
  width: 30px;
  border: 1px solid black;
  padding: 2px;
  color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0 rgba(0,0,0,0.5);
}
.plus{
  background-color: green;
}
.minus{
  background-color: red;
}
.input-quantity{
  width: 35px;
  text-align: right;
  border: 1px solid black;
  margin: 5px 2px;
  padding: 2px;
  font-size: 14px;
}


/* item info row */
.add-discount{
  font-style: italic;  
  /*color: blue;*/
  text-decoration: underline;
  cursor: pointer;
}
.discount{
  font-size: 12px;
  color: #888888;
}


/* discount-adder */
.discount-adder {
  width: 180px;
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  top: 30px;
  right: 10px;
  z-index: 100;
  background-color: white;
  font-size: 14px;
}
.discount-input{
  width: 90px;
  text-align: right;
  border: 1px solid black;
  padding: 2px;
}
.apply-discount-button{
  width: 110px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  background-color: #A1CDF3;
  box-shadow: 3px 3px 0px 0 rgba(0,0,0,0.5);
  margin: 10px 5px 5px;
}
.cancel-discount{
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 10px 5px 0px;
}

/* footer */
.add-line-footer{
  text-align: left;
  padding-left: 50px;
  height: 40px;
}
.total-footer .total-count{
  padding-left: 20px;
}
.total-footer .total-label{
  padding-left: 30px;
}
.total-footer .total-price{
  display: inline-block;
  width: 200px;
  padding-left: 585px;
  text-align: right;
}
