.active-color{
  color: rgb(42, 96, 165);
}

.unit-price-row{
  width: 180px;
  position: relative; 
}
.line-total-row{
  width: 200px;
}


/*.add-discount{
  font-style: italic;  
  text-decoration: underline;
  cursor: pointer;
}
.cancel-discount{
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 10px 5px 0px;
}*/


.discount-adder-panel{
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 100;
  width: 200px;
}

