.main-stock-selector{
  font-family: Tahoma;
  width: 400px;
  border: 1px solid #bbbbbb;
  text-align: center;
  position: relative;
}

.choose-device-label{
  margin: 0px;
  padding: 10px;
  height: 20px;
}


.items-box{
  text-align: left;
  height: 328px;
  overflow-y: scroll;
}

.stock-item{
  width: 175px;
  height: 70px;
  line-height: 70px;
  margin: 0px 0px 10px 10px;
  display: inline-block;
  border: 1px solid #bbbbbb;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.filter-input{
  width: 95%;
  border-radius: 10px;
  height: 25px;
  border: 1px solid #bbbbbb;
  padding-left: 5px;
  margin-bottom: 10px;
}

.active-path-item{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.passive-path-item{

}

.path{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 5px;
  font-size: 14px;
}
.path span{
  margin: 5px;
}
.results-count{
  text-align: right;
  position: absolute;
  right: 10px;
  top: 11px;
  font-size: 14px;
}


.good{
  border-bottom: 1px solid #bbbbbb;
  padding: 10px;
  cursor: pointer;
}
.highlight{
  background: rgba(0, 120, 255, 0.27);
}

.good .info{
  margin-left: 90px;
  position: relative;
  min-height: 70px;
}

.icon{
  max-width: 80px;
  max-height: 70px;
  float: left;
}
div.good-name{
  font-size: 17px;
  margin-bottom: 5px;
}
div.good-text{
  font-size: 13px;
  margin-bottom: 10px;
}
.good-price{
  position: absolute;
  top: 3px;
  right: 0px;
  font-weight: bold;
  font-size: 14px;
}
.good-company{
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 10px;
}

.stock-not-found{
  text-align: center;
  padding-top: 140px;
}


