body{
  font-size: 11px;
  font-family: tahoma; 
  background: white;
  margin: 0px;
 }

.columns{
    background: #f2f0f1;
}

.columnpost{
  float: left;
  padding: 10px;
  /*border-right: 1px solid #cccccc;*/
}

.main{
  background-color: #FEFEFE;
  /*border: 1px solid #cccccc;*/
  /*border-right: 1px solid #cccccc;
  /*border-radius: 5px;*/
  width: 280px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  margin-bottom: 20px;
  font-size: 11px;
  font-family: tahoma;
  text-align: left;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.mainimg{
  /*width: 290px;*/
  max-height: 350px;
  margin-bottom: 5px;
  margin-right: 1px;
  cursor: pointer;
}

.textBlock, .textBlockClicked{
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 5px;
  /*border: 1px solid #cccccc;*/
}

.textBlockClicked:hover{
  background: #F5FAFD; /* #e1e7ed; */
  cursor: pointer;
}

.footer{
  margin-top: 5px;
  padding-top: 3px;
  vertical-align: middle;
  height: 18px;
  /*border: 1px solid #cccccc;*/
}

.likes{
  float: right;
  height: 18px;
  vertical-align: middle;
}

.likestext{
  margin-left: 5px;
  /*margin-right: 45px;*/
  font-weight: bold;  
  color: #41658a;
}

.likesimg{
  height: 9px;
}

.postbutton{
  color: #2B587A;
  margin-right: 5px;
  font-size: 9.5px;
  cursor: pointer;
  height: 18px;
  vertical-align: middle;
}
.postbutton:hover{
  text-decoration: underline;
}
.postbutton:active{
  text-decoration: none;
}

.date{
  color: #999999;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  font-size: 9.5px;
  width: 85px;
  overflow: hidden;
  text-align: left;
}



.popupdiv{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  opacity: 0.8;
  background-color: black;
  z-index: 1000;
}

div.groups{
  margin-bottom: 10px;
  background: white;
}


img.group_checked{
   /*border: 1px solid  /* #2B587A; */
   background: white;
   border: 2px solid #A9BACB;
   border-radius: 5px;
   padding: 4px;
   margin: 1px;
   width: 40px;
   height: 40px;
   display: inline-block;
   vertical-align: middle;
}
img.groupimg{
  /*filter: greyscale(100%) opacity(50%);
  -webkit-filter: grayscale(100%) opacity(50%);
  -moz-filter: grayscale(100%) opacity(50%);
  -ms-filter: grayscale(100%) opacity(50%);
  -o-filter: grayscale(100%) opacity(50%);*/

  border: 2px solid #FFFFFF;
  padding: 4px;
  margin: 1px;
  width: 40px;
  height: 40px;
  background-color: #FEFEFE; 
  cursor: pointer;
   display: inline-block;
   vertical-align: middle;
}
img.groupimg:hover{
  /*filter: greyscale(0%) opacity(100%);
  -webkit-filter: grayscale(0%) opacity(100%);
  -moz-filter: grayscale(0%) opacity(100%);
  -ms-filter: grayscale(0%) opacity(100%);
  -o-filter: grayscale(0%) opacity(100%);*/
 display: inline-block;
  vertical-align: middle;
  border: 2px solid #e1e7ed;
  border-radius: 5px;
  padding: 4px;
  margin: 1px;
  width: 40px;
  height: 40px;
}






/* Audio style */
a.song {
  /*font-weight: bold;*/
  /*font-size: 11;*/
  color: #4a6283;
  display: block;
}

a.song:hover{
  text-decoration: underline;
  cursor: pointer;
}

a.song:active{
  color: #999999;
}





/* CSS toggle only version */
.main-toggle{
  padding-bottom: 10px;
  background: white;
}

.toggle-btn{
    text-align:center; 
    margin: 1px;
    padding: 8px 0px; 
    color:#45688E; 
    font-size: 12;
    background-color:#F5F5F5; 
    display:inline-block; 
    border:solid 1px #FFFFFF; 
    cursor:pointer;
    font-family: Tahoma; 
    width: 99px;
}

div.toggle-btn:hover {
    background: #e1e7ed
}

div.toggle-btn-checked{
    text-align:center; 
    margin: 1px;
    padding: 8px 0px; 
    color:#45688E; 
    font-size: 12;
    display:inline-block; 
    border:solid 1px #FFFFFF; 
    font-family: Tahoma; 
    width: 99px;
    background: #45688E;
    color: white; 
    cursor:pointer;
    font-weight: bold;
}

/*
.toggle-btn { 
    text-align:center; 
    margin: 2px 2px;
    padding:0.4em 3em; 
    color:#45688E; 
    font-size: 12;
    background-color:#F5F5F5; 
    border-radius: 0px; 
    display:inline-block; 
    border:solid 1px #FFFFFF; 
    cursor:pointer;
    font-family: Tahoma;
}

.toggle-btn-grp.cssonly * {
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.toggle-btn-grp.cssonly div {
    display:inline-block;
    position:relative;
    margin:2px 2px;
}

.toggle-btn-grp.cssonly div label {
    position:absolute;
    z-index:0;
    padding:0;
    text-align:center;
}

.toggle-btn-grp.cssonly div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    height: 30px;
    opacity:0;
}

.toggle-btn-grp.cssonly div:hover label {
    background: #e1e7ed
}

.toggle-btn-grp.cssonly div input:checked + label {
    background: #45688E;
    color: #FFFFFF;
    border:solid 1px black !important; 
}*/




/* window */
.win_black{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #DDDDDD;
  z-index: 1000;
  opacity: 0.5;
}

/*
.win_container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1001;
}
.win_container:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
*/

.win_container{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1001;
}

.win{
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1002;
  padding: 10px;
}

.post_window_p{
  text-align: right;
}


.window_friend{
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1003;
  padding: 10px;
}

.friend_container{
  display: inline-block;
  max-height: 505px;
  overflow-y: scroll;
}

.friend_item{
  display: block;
  cursor: pointer;
  padding: 4px 10px;
  height: 38px;
  width: 220px;
}

.friend_item:hover{
  background: #edf1f5;
}

.friend_img{
  float: left;
  width: 38px;
  height: 38px;
}

.friend_text{
  color: #4a6283;
  line-height: 38px;
  padding-left: 10px;
  display: block;
  float: left;
  font-weight: bold;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
}
