/*------- chat ---------*/
.tabs{
	white-space: nowrap;
	overflow: hidden;
}
.tab{
	cursor: pointer;
	position: relative;
	display: inline-block;
	height: 24px;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 2px;
	padding-left: 12px;
	padding-right: 16px;
}
.tab:first-child{
	padding-left: 16px;
}
.tab-normal{
	background: #ead7b1;
}
.tab-normal:hover{
	background: #dfcdaa;
}
.tab-select{
	background: #d6c4a1;
}
.tab-blink{
	background: #bceab1;
}

.chat{
	padding: 10px;
}
.chat_content{
	width: 725px;
	height: 132px;
	border: 2px solid #ecdbb9;
	background: white;
	padding: 0px 5px;
	overflow-y: scroll;
}
.chat_message{
	margin: 0px;
	font-size: 12px;
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
}

.chat_user_name{
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

textarea:focus, input:focus{
    outline: 0;
}

.text_input{
  width: 739px;
  height: 30px;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: -2px;
  border: 2px solid #ecdbb9;
  padding-left: 5px;
  /*position: relative;
  left: 120px;*/
  /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}

/*
::-webkit-input-placeholder {
   color: #555555;
}*/

:-moz-placeholder { /* Firefox 18- */
   color: #555555;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #555555;
}
/*
:-ms-input-placeholder {  
   color: #555555;
}*/

::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #f6e3bd;  
    border-left: 1px solid #f6e3bd;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #d7c6a4;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #cdbd9e;  
}  


.button{
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	/*border: 2px solid #d6c4a1;*/
	/*text-align: center;*/
	padding-left: 50px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	color: #6b6352;
}
.button:hover{
	background-color: #bceab1; /*#e5d1b0;*/
}
.button_chat{
	margin-top: 20px; 
	background: #ead7b1 url("icons/chat.png") 25px center no-repeat;
}
.button_gift{
	margin-top: 5px; 
	background: #ead7b1 url("icons/gift.png") 25px center no-repeat;
}
.close_icon{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.close-mini-icon{
	position: absolute;
	right: 4px;
	top: 9px;
	width: 8px;
	height: 8px;
	opacity: 0.7;
}
.close-mini-icon:hover{
	/*position: absolute;
	right: 3px;
	top: 8px;
	width: 10px;
	height: 10px;*/
	opacity: 1;
}


.user_ava {
	border-radius: 10px;
	width: 200px;
}

/*------- user shower ---------*/
.window {
	position: absolute;
	display: inline-block;	
	border-radius: 10px;
	border: 5px solid #dacca7;
	background: #fdf8e5;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);;
}

.user_window{
	left: 160px;
	top: 130px;
	width: 400px;
	/*height: 300px;*/
	border-radius: 10px;
}

.user_crop{
	border-radius: 10px;
	width: 200px;
	height: 280px;
	overflow: hidden;
	float:left;
}

.user_info{
	margin-left: 210px;
}

/*------- gift window --------*/
.gifts_window{
	left: 150px;
	top: 50px;	
	padding: 10px;

}
.gifts_title{
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0 10px;
	color: #cdbd9e;
}
.gifts_container{
	width: 450px;
	height: 430px;
	overflow-y: scroll;	
}
.gifts_tab{
	text-align: center;
	width: 100%;
	padding: 10px;
}
.gift_img{
	width: 100px;
	height: 100px;
	background: #eee9d8;
	padding: 2px;
	margin: 2px;
	cursor: pointer;
}
.gift_img:hover{
	background: #dcd7c6;

}


.gift_hide{
	animation: gift_hide 1s 2s normal ease-in forwards;
}


@keyframes gift_hide{
  to{
    opacity: 0;
  }
}