body{
  font-size: 11px;
  font-family: arial;
  /*font-family: sans-serif;*/
  margin: 0px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url("background.jpg") no-repeat 0 0;
  background-size: 760px 680px;
  width: 760px;
}
.error{
  position: absolute;
  z-index: 100;
  width: 256px;
  left: 230;
  top: 220;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  z-index: 100;
  padding: 20px;
  background: white;
  border: 2px solid #fce9c4;
  border-radius: 10px;
}

.bottle{
  position: absolute;
  left: 365px;
  top: 200px;  
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.8);*/
}


@-moz-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@-webkit-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@-o-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@-ms-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}

.bottle_rotate{
  -moz-animation: bottle-rotate-frames 1s linear forwards;
  -webkit-animation: bottle-rotate-frames 1s linear forwards;
  -o-animation: bottle-rotate-frames 1s linear forwards;
  -ms-animation: bottle-rotate-frames 1s linear forwards;
  animation: bottle-rotate-frames 1s linear forwards;
}

.sender_animation{
  -moz-animation: sender-frames 1s linear forwards;
  -webkit-animation: sender-frames 1s linear forwards;
  -o-animation: sender-frames 1s linear forwards;
  -ms-animation: sender-frames 1s linear forwards;
  animation: sender-frames 1s linear forwards;
}
.sender_back_animation{
  -moz-animation: sender-frames2 1s 3s linear reverse backwards;
  -webkit-animation: sender-frames2 1s 3s linear reverse backwards;
  -o-animation: sender-frames2 1s 3s linear reverse backwards;
  -ms-animation: sender-frames2 1s 3s linear reverse backwards;
  animation: sender-frames2 1s 3s linear reverse backwards;
}
@-moz-keyframes sender-frames{100% {top:195px;left: 230px;}}
@-webkit-keyframes sender-frames{100% {top:195px;left: 230px;}}
@-o-keyframes sender-frames{100% {top:195px;left: 230px;}}
@-ms-keyframes sender-frames{100% {top:195px;left: 230px;}}
@keyframes sender-frames{100% {top:195px;left: 230px;}}

@-moz-keyframes sender-frames2{100% {top:195px;left: 230px;}}
@-webkit-keyframes sender-frames2{100% {top:195px;left: 230px;}}
@-o-keyframes sender-frames2{100% {top:195px;left: 230px;}}
@-ms-keyframes sender-frames2{100% {top:195px;left: 230px;}}
@keyframes sender-frames2{100% {top:195px;left: 230px;}}

.recv_animation{
  -moz-animation: recv-frames 1s linear forwards;
  -webkit-animation: recv-frames 1s linear forwards;
  -o-animation: recv-frames 1s linear forwards;
  -ms-animation: recv-frames 1s linear forwards;
  animation: recv-frames 1s linear forwards;
}
.recv_back_animation{
  -moz-animation: recv-frames2 1s 3s linear reverse backwards; 
  -webkit-animation: recv-frames2 1s 3s linear reverse backwards; 
  -o-animation: recv-frames2 1s 3s linear reverse backwards; 
  -ms-animation: recv-frames2 1s 3s linear reverse backwards; 
  animation: recv-frames2 1s 3s linear reverse backwards; 
}
@-moz-keyframes recv-frames{100% {top:195px;left: 450px;}}
@-webkit-keyframes recv-frames{100% {top:195px;left: 450px;}}
@-o-keyframes recv-frames{100% {top:195px;left: 450px;}}
@-ms-keyframes recv-frames{100% {top:195px;left: 450px;}}
@keyframes recv-frames{100% {top:195px;left: 450px;}}

@-moz-keyframes recv-frames2{100% {top:195px;left: 450px;}}
@-webkit-keyframes recv-frames2{100% {top:195px;left: 450px;}}
@-o-keyframes recv-frames2{100% {top:195px;left: 450px;}}
@-ms-keyframes recv-frames2{100% {top:195px;left: 450px;}}
@keyframes recv-frames2{100% {top:195px;left: 450px;}}



.game_info{
  position: absolute;
  width: 760px;
  text-align: center;
  top: 310px;
  color: #fce9c4;
  font-size: 12px;
}
.is_kiss_text{
  position: absolute;
  width: 760px;
  text-align: center;
  top: 250px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  opacity: 0; 
  -moz-animation: show_keyframes 1s linear forwards;
  -webkit-animation: show_keyframes 1s linear forwards;
  -o-animation: show_keyframes 1s linear forwards;
  -ms-animation: show_keyframes 1s linear forwards;
  animation: show_keyframes 1s linear forwards;
}
@-moz-keyframes show_keyframes{100% {opacity: 1;}}
@-webkit-keyframes show_keyframes{100% {opacity: 1;}}
@-o-keyframes show_keyframes{100% {opacity: 1;}}
@-ms-keyframes show_keyframes{100% {opacity: 1;}}
@keyframes show_keyframes{100% {opacity: 1;}}


.game_result{
  position: absolute;
  width: 760px;
  text-align: center;
  top: 225px;
  color: white; /*#FF5555;*/
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  opacity: 0;
  -moz-animation: result_keyframes 4s linear forwards;
  -webkit-animation: result_keyframes 4s linear forwards;
  -o-animation: result_keyframes 4s linear forwards;
  -ms-animation: result_keyframes 4s linear forwards;
  animation: result_keyframes 4s linear forwards;
}
.arrow{
  display: block;
  margin: 0 auto 10px;
}
@keyframes result_keyframes{
  5% {opacity: 1;}
  80% {opacity: 1;}
  90% {opacity: 0;}
}
@-moz-keyframes result_keyframes{
  5% {opacity: 1;}
  80% {opacity: 1;}
  90% {opacity: 0;}
}
@-webkit-keyframes result_keyframes{
  5% {opacity: 1;}
  80% {opacity: 1;}
  90% {opacity: 0;}
}
@-o-keyframes result_keyframes{
  5% {opacity: 1;}
  80% {opacity: 1;}
  90% {opacity: 0;}
}
@-ms-keyframes result_keyframes{
  5% {opacity: 1;}
  80% {opacity: 1;}
  90% {opacity: 0;}
}

.kiss_buttons{
  position: absolute;
  left: 328px;
  text-align: center;
  /*width: 760px;*/
  font-size: 16px;
  font-weight: bold;
  color: white;
  top: 195px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.kiss_button{
  margin: 0 auto;
  text-shadow: none;
  color: white;
  /*display: inline-block;*/
  text-align: center;
  width: 100px;
  height: 26px;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;  
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.yes_kiss_button{
  background-image: linear-gradient(#00DD00, #00BB00);
  margin-bottom: 5px;
}
.yes_kiss_button:hover{
  background-image: linear-gradient(#00EE00, #00CC00);
}
.no_kiss_button{
  background-image: linear-gradient(#DD0000, #BB0000);
}
.no_kiss_button:hover{
  background-image: linear-gradient(#EE0000, #CC0000);
}
.table{
  width: 760px;
  height: 420px;
  background: url("table.png") no-repeat 0 0;
}

.user_div{
  position: absolute;
  cursor: pointer;
}


.user_name{
  font-size: 12px;
  white-space: nowrap;
  padding-bottom: 3px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  width: 80px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.user_img_div{
  width: 80px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  background: #000000;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.user_select{
  /*border: 3px solid #CCAA00;*/
 box-shadow: 3px 3px 0px white,/*#fce9c4,*/
             -3px 3px 0px white,
             3px -3px 0px white,
             -3px -3px 0px white;
}


.user_img {
  /*min-width: 80px;
  min-height: 100px;*/
  width: 80px;
  height: 100px;
  object-fit: cover;
  position: relative;
}


@keyframes anim-message {
  5% {
    background-color: white;
    opacity: 1;
  }
  95%{
    background-color:white;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.user_phrase{
  display: inline-block;
  /*min-width: 40px;*/
  max-width: 105px;
  /*max-height: 50px;*/
  line-height: 1.2;
  font-size: 11px;
  padding: 2px 4px 3px 4px;
  border-radius: 5px;
  background-color:  #f5f5f5; /*#fdf8e5;*/
  border: 1px solid #cccccc;
  position: relative;
  top: -7px;
  left: 15px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  /*opacity: 0;*/
  /*animation: anim-message 10s linear 0s  normal forwards;*/
}

.user_gift{
  width: 40px;
  height: 40px;
  position: absolute;
  left: -20px;
  top: 90px;
}

a{
	/*border-radius: 7px;
	background-color: #dddddd;*/
	padding: 10px;
	color: black;
	font-size: 14px;
	font-family: Comic Sans MS;
	font-weight: normal;
	/*text-shadow: 0px 0px 5px rgba(0,0,0,1);*/

	/*-webkit-text-stroke: 1px rgba(0,0,0,0.5);
    -webkit-text-fill-color: rgba(0,0,0,0.1);*/
}

a:first-child{
	padding-left: 30px;
}

.game_change_button{
  position: absolute;
  cursor: pointer;
  top: 60px;
  left: 710px;
}
.game_change_button:hover{
  transform: scale(1.1);
}
.game_change_button:active{
  transform: scale(1);
}



.menu{
  height: 45px;
  margin-bottom: 5px;
  padding-left: 10px;
  /*border-bottom: 2px solid #cbb68c;*/
}

.menu_item{
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 28px;
  padding-left: 40px;
  margin-right: 2px;
  margin-top: 10px;
 /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  border-radius: 7px;
  font-size: 14px;
  font-family: comic sans ms;
  background: #decaa0;  
  /*  box-shadow: 0px 0px 3px rgba(0,0,0,0.8);*/
  /*border: 1px solid #decaa0;*/
}

.menu_select{
   background: #decaa0;   
}

.menu_game{
  background: #decaa0 url("menu/bottle.png") 15px center no-repeat;
  background-color: #decaa0;
  background-size: 20px 20px;

}

.menu_chat{
  background: #decaa0 url("menu/chat.png") 15px center no-repeat;
  background-size: 20px 20px;
}

