body{
  font-size: 11px;
  font-family: arial;
  /*font-family: sans-serif;*/
  margin: 0px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url("background.jpg") no-repeat 0 0;
  background-size: 760px 680px;
  width: 760px;
}
.error{
  position: absolute;
  z-index: 100;
  width: 256px;
  left: 230;
  top: 220;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  z-index: 100;
  padding: 20px;
  background: white;
  border: 2px solid #fce9c4;
  border-radius: 10px;
}

.bottle{
  position: absolute;
  left: 373px;
  top: 200px;  
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.8);*/
}


@-moz-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@-webkit-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@-o-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@-ms-keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}
@keyframes bottle-rotate-frames{ 100% {transform: rotate(10000deg);}}

.bottle_rotate{
  -moz-animation: bottle-rotate-frames 6s ease-in;
  -webkit-animation: bottle-rotate-frames 6s ease-in;
  -o-animation: bottle-rotate-frames 6s ease-in;
  -ms-animation: bottle-rotate-frames 6s ease-in;
  animation: bottle-rotate-frames 6s ease-in;
}

.game_info{
  position: absolute;
  width: 760px;
  text-align: center;
  top: 310px;
  color: #fce9c4;
  font-size: 12px;
}
.game_result{
  position: absolute;
  width: 760px;
  text-align: center;
  top: 250px;
  color: white; /*#FF5555;*/
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.kiss_buttons{
  position: absolute;
  text-align: center;
  width: 760px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  top: 210px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.kiss_button{
  text-shadow: none;
  color: white;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 26px;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;  
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.yes_kiss_button{
  background-image: linear-gradient(#00DD00, #00BB00);
  margin-right: 10px;
}
.yes_kiss_button:hover{
  background-image: linear-gradient(#00EE00, #00CC00);
  margin-right: 10px;
}
.no_kiss_button{
  background-image: linear-gradient(#DD0000, #BB0000);
}
.no_kiss_button:hover{
  background-image: linear-gradient(#EE0000, #CC0000);
}
.table{
  width: 760px;
  height: 420px;
  background: url("table.png") no-repeat 0 0;
}

.user_div{
  position: absolute;
  cursor: pointer;
}


.user_name{
  font-size: 12px;
  white-space: nowrap;
  padding-bottom: 3px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  width: 80px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.user_img_div{
  width: 80px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  background: #000000;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.user_select{
  /*border: 3px solid #CCAA00;*/
 box-shadow: 3px 3px 0px white,/*#fce9c4,*/
             -3px 3px 0px white,
             3px -3px 0px white,
             -3px -3px 0px white;
}


.user_img {
  width: 80px;
  position: relative;
}


@keyframes anim-message {
  5% {
    background-color: white;
    opacity: 1;
  }
  95%{
    background-color:white;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.user_phrase{
  display: inline-block;
  /*min-width: 40px;*/
  max-width: 105px;
  /*max-height: 50px;*/
  line-height: 1.2;
  font-size: 11px;
  padding: 2px 4px 3px 4px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  position: relative;
  top: -7px;
  left: 15px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  /*opacity: 0;*/
  /*animation: anim-message 10s linear 0s  normal forwards;*/
}




.user_gift{
  width: 40px;
  height: 40px;
  position: absolute;
  left: -20px;
  top: 90px;
}



.menu{
  height: 50px;
}

a{
	/*border-radius: 7px;
	background-color: #dddddd;*/
	padding: 10px;
	color: black;
	font-size: 14px;
	font-family: Comic Sans MS;
	font-weight: normal;
	/*text-shadow: 0px 0px 5px rgba(0,0,0,1);*/

	/*-webkit-text-stroke: 1px rgba(0,0,0,0.5);
    -webkit-text-fill-color: rgba(0,0,0,0.1);*/
}

a:first-child{
	padding-left: 30px;
}



@-moz-keyframes r0{100% {transform: rotate(614deg);}}
@-webkit-keyframes r0{100% {transform: rotate(614deg);}}
@-o-keyframes r0{100% {transform: rotate(614deg);}}
@-ms-keyframes r0{100% {transform: rotate(-105.94539590092285deg);}}
@keyframes r0{100% {transform: rotate(614deg);}}
 
@-moz-keyframes r1{100% {transform: rotate(587deg);}}
@-webkit-keyframes r1{100% {transform: rotate(587deg);}}
@-o-keyframes r1{100% {transform: rotate(587deg);}}
@-ms-keyframes r1{100% {transform: rotate(-132.87890360333853deg);}}
@keyframes r1{100% {transform: rotate(587deg);}}
 
@-moz-keyframes r2{100% {transform: rotate(900deg);}}
@-webkit-keyframes r2{100% {transform: rotate(900deg);}}
@-o-keyframes r2{100% {transform: rotate(900deg);}}
@-ms-keyframes r2{100% {transform: rotate(180deg);}}
@keyframes r2{100% {transform: rotate(900deg);}}
 
@-moz-keyframes r3{100% {transform: rotate(853deg);}}
@-webkit-keyframes r3{100% {transform: rotate(853deg);}}
@-o-keyframes r3{100% {transform: rotate(853deg);}}
@-ms-keyframes r3{100% {transform: rotate(132.87890360333853deg);}}
@keyframes r3{100% {transform: rotate(853deg);}}
 
@-moz-keyframes r4{100% {transform: rotate(826deg);}}
@-webkit-keyframes r4{100% {transform: rotate(826deg);}}
@-o-keyframes r4{100% {transform: rotate(826deg);}}
@-ms-keyframes r4{100% {transform: rotate(105.94539590092285deg);}}
@keyframes r4{100% {transform: rotate(826deg);}}
 
@-moz-keyframes r5{100% {transform: rotate(646deg);}}
@-webkit-keyframes r5{100% {transform: rotate(646deg);}}
@-o-keyframes r5{100% {transform: rotate(646deg);}}
@-ms-keyframes r5{100% {transform: rotate(-74.05460409907715deg);}}
@keyframes r5{100% {transform: rotate(646deg);}}
 
@-moz-keyframes r6{100% {transform: rotate(673deg);}}
@-webkit-keyframes r6{100% {transform: rotate(673deg);}}
@-o-keyframes r6{100% {transform: rotate(673deg);}}
@-ms-keyframes r6{100% {transform: rotate(-47.12109639666145deg);}}
@keyframes r6{100% {transform: rotate(673deg);}}
 
@-moz-keyframes r7{100% {transform: rotate(720deg);}}
@-webkit-keyframes r7{100% {transform: rotate(720deg);}}
@-o-keyframes r7{100% {transform: rotate(720deg);}}
@-ms-keyframes r7{100% {transform: rotate(0deg);}}
@keyframes r7{100% {transform: rotate(720deg);}}
 
@-moz-keyframes r8{100% {transform: rotate(767deg);}}
@-webkit-keyframes r8{100% {transform: rotate(767deg);}}
@-o-keyframes r8{100% {transform: rotate(767deg);}}
@-ms-keyframes r8{100% {transform: rotate(47.12109639666145deg);}}
@keyframes r8{100% {transform: rotate(767deg);}}
 
@-moz-keyframes r9{100% {transform: rotate(794deg);}}
@-webkit-keyframes r9{100% {transform: rotate(794deg);}}
@-o-keyframes r9{100% {transform: rotate(794deg);}}
@-ms-keyframes r9{100% {transform: rotate(74.05460409907715deg);}}
@keyframes r9{100% {transform: rotate(794deg);}}
 
@-moz-keyframes r10{100% {transform: rotate(900deg);}}
@-webkit-keyframes r10{100% {transform: rotate(900deg);}}
@-o-keyframes r10{100% {transform: rotate(900deg);}}
@-ms-keyframes r10{100% {transform: rotate(180deg);}}
@keyframes r10{100% {transform: rotate(900deg);}}
 
@-moz-keyframes r11{100% {transform: rotate(900deg);}}
@-webkit-keyframes r11{100% {transform: rotate(900deg);}}
@-o-keyframes r11{100% {transform: rotate(900deg);}}
@-ms-keyframes r11{100% {transform: rotate(180deg);}}
@keyframes r11{100% {transform: rotate(900deg);}}